<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.data.big.mapper.CamerastatusMapper">
    <resultMap id="BaseResultMap" type="com.data.big.model.Camerastatus">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="device_id" jdbcType="VARCHAR" property="deviceId"/>
        <result column="status_time" jdbcType="VARCHAR" property="statusTime"/>
        <result column="online_status" jdbcType="VARCHAR" property="onlineStatus"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, device_id, status_time, online_status
    </sql>
    <select id="selectByPrimaryId" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from camerastatus
        where id = #{id,jdbcType=VARCHAR}
    </select>
    <insert id="insert" parameterType="com.data.big.model.Camerastatus">
        insert into camerastatus (id, device_id, status_time,
        online_status)
        values (#{id,jdbcType=VARCHAR}, #{deviceId,jdbcType=VARCHAR}, #{statusTime,jdbcType=VARCHAR},
        #{onlineStatus,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.data.big.model.Camerastatus">
        insert into camerastatus
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="deviceId != null">
                device_id,
            </if>
            <if test="statusTime != null">
                status_time,
            </if>
            <if test="onlineStatus != null">
                online_status,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="deviceId != null">
                #{deviceId,jdbcType=VARCHAR},
            </if>
            <if test="statusTime != null">
                #{statusTime,jdbcType=VARCHAR},
            </if>
            <if test="onlineStatus != null">
                #{onlineStatus,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

</mapper>