<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.data.big.mapper.MethodTypeMapper">
  <resultMap id="BaseResultMap" type="com.data.big.model.MethodType">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="method_name" jdbcType="VARCHAR" property="methodName" />
    <result column="method_desc" jdbcType="VARCHAR" property="methodDesc" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, method_name, method_desc
  </sql>
  <select id="selectByPrimaryId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from method_type
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <insert id="insert" parameterType="com.data.big.model.MethodType">
    insert into method_type (ID, method_name, method_desc
      )
    values (#{id,jdbcType=INTEGER}, #{methodName,jdbcType=VARCHAR}, #{methodDesc,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.data.big.model.MethodType">
    insert into method_type
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="methodName != null">
        method_name,
      </if>
      <if test="methodDesc != null">
        method_desc,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="methodName != null">
        #{methodName,jdbcType=VARCHAR},
      </if>
      <if test="methodDesc != null">
        #{methodDesc,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

</mapper>