<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.data.big.mapper.SgjhMapper">
  <resultMap id="BaseResultMap" type="com.data.big.model.Sgjh">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="rjhh" jdbcType="VARCHAR" property="rjhh" />
    <result column="sbztw" jdbcType="VARCHAR" property="sbztw" />
    <result column="zylx" jdbcType="VARCHAR" property="zylx" />
    <result column="zyrq" jdbcType="VARCHAR" property="zyrq" />
    <result column="jhqssj" jdbcType="VARCHAR" property="jhqssj" />
    <result column="jhzzsj" jdbcType="VARCHAR" property="jhzzsj" />
    <result column="zydj" jdbcType="VARCHAR" property="zydj" />
    <result column="xm" jdbcType="VARCHAR" property="xm" />
    <result column="xb" jdbcType="VARCHAR" property="xb" />
    <result column="zywz" jdbcType="VARCHAR" property="zywz" />
    <result column="qschzm" jdbcType="VARCHAR" property="qschzm" />
    <result column="zzchzm" jdbcType="VARCHAR" property="zzchzm" />
    <result column="zyqslc" jdbcType="VARCHAR" property="zyqslc" />
    <result column="zyzzlc" jdbcType="VARCHAR" property="zyzzlc" />
    <result column="sgztdw" jdbcType="VARCHAR" property="sgztdw" />
    <result column="phdw" jdbcType="VARCHAR" property="phdw" />
    <result column="fzrname" jdbcType="VARCHAR" property="fzrname" />
    <result column="xsjxcfs" jdbcType="VARCHAR" property="xsjxcfs" />
    <result column="lycxx" jdbcType="VARCHAR" property="lycxx" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result property="fJwtdmids" jdbcType="VARCHAR" column="f_jwtdmids" />
    <result property="fJwtdmmcs" jdbcType="VARCHAR" column="f_jwtdmmcs" />
    <result property="fZhjtdmids" jdbcType="VARCHAR" column="f_zhjtdmids" />
    <result property="fZhjtdmmcs" jdbcType="VARCHAR" column="f_zhjtdmmcs" />
    <result property="fChwtdmids" jdbcType="VARCHAR" column="f_chwtdmids" />
    <result property="fChwtdmmcs" jdbcType="VARCHAR" column="f_chwtdmmcs" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.data.big.model.Sgjh">
    <result column="zyxm" jdbcType="LONGVARCHAR" property="zyxm" />
    <result column="sgnrjyxfw" jdbcType="LONGVARCHAR" property="sgnrjyxfw" />
  </resultMap>
  <sql id="Base_Column_List">
    id, rjhh, sbztw, zylx, zyrq, jhqssj, jhzzsj, zydj, xm, xb, zywz, qschzm, zzchzm, 
    zyqslc, zyzzlc, sgztdw, phdw, fzrname, xsjxcfs, lycxx, `status`,f_jwtdmids,f_jwtdmmcs,f_zhjtdmids,f_zhjtdmmcs,f_chwtdmids
    ,f_chwtdmmcs
  </sql>
  <sql id="Blob_Column_List">
    zyxm, sgnrjyxfw
  </sql>
  <select id="selectByPrimaryId" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from sgjh
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <insert id="insert" parameterType="com.data.big.model.Sgjh">
    insert into sgjh (id, rjhh, sbztw, 
      zylx, zyrq, jhqssj, 
      jhzzsj, zydj, xm, xb, 
      zywz, qschzm, zzchzm, 
      zyqslc, zyzzlc, sgztdw, 
      phdw, fzrname, xsjxcfs, 
      lycxx, `status`, zyxm, 
      sgnrjyxfw
      ,f_jwtdmids,f_jwtdmmcs,f_zhjtdmids,f_zhjtdmmcs,f_chwtdmids
    ,f_chwtdmmcs)
    values (#{id,jdbcType=VARCHAR}, #{rjhh,jdbcType=VARCHAR}, #{sbztw,jdbcType=VARCHAR}, 
      #{zylx,jdbcType=VARCHAR}, #{zyrq,jdbcType=VARCHAR}, #{jhqssj,jdbcType=VARCHAR}, 
      #{jhzzsj,jdbcType=VARCHAR}, #{zydj,jdbcType=VARCHAR}, #{xm,jdbcType=VARCHAR}, #{xb,jdbcType=VARCHAR}, 
      #{zywz,jdbcType=VARCHAR}, #{qschzm,jdbcType=VARCHAR}, #{zzchzm,jdbcType=VARCHAR}, 
      #{zyqslc,jdbcType=VARCHAR}, #{zyzzlc,jdbcType=VARCHAR}, #{sgztdw,jdbcType=VARCHAR}, 
      #{phdw,jdbcType=VARCHAR}, #{fzrname,jdbcType=VARCHAR}, #{xsjxcfs,jdbcType=VARCHAR}, 
      #{lycxx,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, #{zyxm,jdbcType=LONGVARCHAR}, 
      #{sgnrjyxfw,jdbcType=LONGVARCHAR}
      ,#{fJwtdmids,jdbcType=LONGVARCHAR},#{fJwtdmmcs,jdbcType=LONGVARCHAR},#{fZhjtdmids,jdbcType=LONGVARCHAR},
      #{fZhjtdmmcs,jdbcType=LONGVARCHAR},#{fChwtdmids,jdbcType=LONGVARCHAR},#{fChwtdmmcs,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.data.big.model.Sgjh">
    insert into sgjh
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="rjhh != null">
        rjhh,
      </if>
      <if test="sbztw != null">
        sbztw,
      </if>
      <if test="zylx != null">
        zylx,
      </if>
      <if test="zyrq != null">
        zyrq,
      </if>
      <if test="jhqssj != null">
        jhqssj,
      </if>
      <if test="jhzzsj != null">
        jhzzsj,
      </if>
      <if test="zydj != null">
        zydj,
      </if>
      <if test="xm != null">
        xm,
      </if>
      <if test="xb != null">
        xb,
      </if>
      <if test="zywz != null">
        zywz,
      </if>
      <if test="qschzm != null">
        qschzm,
      </if>
      <if test="zzchzm != null">
        zzchzm,
      </if>
      <if test="zyqslc != null">
        zyqslc,
      </if>
      <if test="zyzzlc != null">
        zyzzlc,
      </if>
      <if test="sgztdw != null">
        sgztdw,
      </if>
      <if test="phdw != null">
        phdw,
      </if>
      <if test="fzrname != null">
        fzrname,
      </if>
      <if test="xsjxcfs != null">
        xsjxcfs,
      </if>
      <if test="lycxx != null">
        lycxx,
      </if>
      <if test="status != null">
        `status`,
      </if>
      <if test="zyxm != null">
        zyxm,
      </if>
      <if test="sgnrjyxfw != null">
        sgnrjyxfw,
      </if>
      <if test="fJwtdmids != null">
        f_jwtdmids,
      </if>
      <if test="fJwtdmmcs != null">
        f_jwtdmmcs,
      </if>
      <if test="fZhjtdmids != null">
        f_zhjtdmids,
      </if>
      <if test="fZhjtdmmcs != null">
        f_zhjtdmmcs,
      </if>
      <if test="fChwtdmids != null">
        f_chwtdmids,
      </if>
      <if test="fChwtdmmcs != null">
        f_chwtdmmcs,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="rjhh != null">
        #{rjhh,jdbcType=VARCHAR},
      </if>
      <if test="sbztw != null">
        #{sbztw,jdbcType=VARCHAR},
      </if>
      <if test="zylx != null">
        #{zylx,jdbcType=VARCHAR},
      </if>
      <if test="zyrq != null">
        #{zyrq,jdbcType=VARCHAR},
      </if>
      <if test="jhqssj != null">
        #{jhqssj,jdbcType=VARCHAR},
      </if>
      <if test="jhzzsj != null">
        #{jhzzsj,jdbcType=VARCHAR},
      </if>
      <if test="zydj != null">
        #{zydj,jdbcType=VARCHAR},
      </if>
      <if test="xm != null">
        #{xm,jdbcType=VARCHAR},
      </if>
      <if test="xb != null">
        #{xb,jdbcType=VARCHAR},
      </if>
      <if test="zywz != null">
        #{zywz,jdbcType=VARCHAR},
      </if>
      <if test="qschzm != null">
        #{qschzm,jdbcType=VARCHAR},
      </if>
      <if test="zzchzm != null">
        #{zzchzm,jdbcType=VARCHAR},
      </if>
      <if test="zyqslc != null">
        #{zyqslc,jdbcType=VARCHAR},
      </if>
      <if test="zyzzlc != null">
        #{zyzzlc,jdbcType=VARCHAR},
      </if>
      <if test="sgztdw != null">
        #{sgztdw,jdbcType=VARCHAR},
      </if>
      <if test="phdw != null">
        #{phdw,jdbcType=VARCHAR},
      </if>
      <if test="fzrname != null">
        #{fzrname,jdbcType=VARCHAR},
      </if>
      <if test="xsjxcfs != null">
        #{xsjxcfs,jdbcType=VARCHAR},
      </if>
      <if test="lycxx != null">
        #{lycxx,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="zyxm != null">
        #{zyxm,jdbcType=LONGVARCHAR},
      </if>
      <if test="sgnrjyxfw != null">
        #{sgnrjyxfw,jdbcType=LONGVARCHAR},
      </if>
      <if test="fJwtdmids != null">
        #{fJwtdmids,jdbcType=LONGVARCHAR},
      </if>
      <if test="fJwtdmmcs != null">
        #{fJwtdmmcs,jdbcType=LONGVARCHAR},
      </if>
      <if test="fZhjtdmids != null">
        #{fZhjtdmids,jdbcType=LONGVARCHAR},
      </if>
      <if test="fZhjtdmmcs != null">
        #{fZhjtdmmcs,jdbcType=LONGVARCHAR},
      </if>
      <if test="fChwtdmids != null">
        #{fChwtdmids,jdbcType=LONGVARCHAR},
      </if>
      <if test="fChwtdmmcs != null">
        #{fChwtdmmcs,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateAll" parameterType="com.data.big.model.Sgjh">
    <foreach collection="list" item="sgjh" separator=";">
      update
      sgjh  set
      <trim prefix="" suffix=" " suffixOverrides=",">
        status=#{sgjh.status}
      </trim>
      where id= #{sgjh.id}
    </foreach>
  </update>

  <update id="updateChartParamByAccountAndChartid" parameterType="list">
    update
    sgjh
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="status =case" suffix="end,">
        <foreach collection="list" item="item" index="index">
          <if test="item.status!=null">
            when id=#{item.id}
            then #{item.status}
          </if>
        </foreach>
      </trim>

    </trim>
    where id in
    <foreach collection="list" item="item" index="index" separator="," open="(" close=")">
      #{item.id}
    </foreach>
  </update>


  <!-- 批量插入生成的兑换码 -->
  <insert id ="insertCodeBatch" parameterType="java.util.List" >
    insert IGNORE into sgjh (id, rjhh, sbztw,
    zylx, zyrq, jhqssj,
    jhzzsj, zydj, xm, xb,
    zywz, qschzm, zzchzm,
    zyqslc, zyzzlc, sgztdw,
    phdw, fzrname, xsjxcfs,
    lycxx, `status`, zyxm,
    sgnrjyxfw
    ,f_jwtdmids,f_jwtdmmcs,f_zhjtdmids,f_zhjtdmmcs,f_chwtdmids
    ,f_chwtdmmcs)
    values
    <foreach collection ="list" item="reddemCode" index= "index" separator =",">
      (
      #{reddemCode.id}, #{reddemCode.rjhh},#{reddemCode.sbztw},
      #{reddemCode.zylx},#{reddemCode.zyrq}, #{reddemCode.jhqssj},
      #{reddemCode.jhzzsj},#{reddemCode.zydj}, #{reddemCode.xm},#{reddemCode.xb},
      #{reddemCode.zywz},#{reddemCode.qschzm},#{reddemCode.zzchzm},
      #{reddemCode.zyqslc}, #{reddemCode.zyzzlc}, #{reddemCode.sgztdw},
      #{reddemCode.phdw}, #{reddemCode.fzrname}, #{reddemCode.xsjxcfs},
      #{reddemCode.lycxx}, #{reddemCode.status}, #{reddemCode.zyxm},
      #{reddemCode.sgnrjyxfw}
      #{reddemCode.fJwtdmids,jdbcType=LONGVARCHAR},#{reddemCode.fJwtdmmcs,jdbcType=LONGVARCHAR},#{reddemCode.fZhjtdmids,jdbcType=LONGVARCHAR},
      #{reddemCode.fZhjtdmmcs,jdbcType=LONGVARCHAR},#{reddemCode.fChwtdmids,jdbcType=LONGVARCHAR},#{reddemCode.fChwtdmmcs,jdbcType=LONGVARCHAR}
      )
    </foreach >
  </insert >
</mapper>