<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.data.big.mapper.SnowAlarmMapper">
  <resultMap id="BaseResultMap" type="com.data.big.model.SnowAlarm">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="control_unit_code" jdbcType="VARCHAR" property="controlUnitCode" />
    <result column="check_locale_code" jdbcType="VARCHAR" property="checkLocaleCode" />
    <result column="snow_deep" jdbcType="VARCHAR" property="snowDeep" />
    <result column="snow_deep_benchmark" jdbcType="VARCHAR" property="snowDeepBenchmark" />
    <result column="snow_deep_actual_check" jdbcType="VARCHAR" property="snowDeepActualCheck" />
    <result column="speed_limit" jdbcType="VARCHAR" property="speedLimit" />
    <result column="speed_limit_section_number" jdbcType="VARCHAR" property="speedLimitSectionNumber" />
    <result column="speed_limit_section_begin" jdbcType="VARCHAR" property="speedLimitSectionBegin" />
    <result column="speed_limit_section_end" jdbcType="VARCHAR" property="speedLimitSectionEnd" />
    <result column="data_length" jdbcType="VARCHAR" property="dataLength" />
    <result column="Influence_interval" jdbcType="VARCHAR" property="influenceInterval" />
    <result column="branch_line_code" jdbcType="VARCHAR" property="branchLineCode" />
    <result column="reserve1" jdbcType="VARCHAR" property="reserve1" />
    <result column="reserve2" jdbcType="VARCHAR" property="reserve2" />
    <result column="alarm_level" jdbcType="VARCHAR" property="alarmLevel" />
    <result column="date" jdbcType="TIMESTAMP" property="date" />
    <result column="alarm_status" jdbcType="VARCHAR" property="alarmStatus" />
    <result column="relieve_time" jdbcType="TIMESTAMP" property="relieveTime" />
    <result column="video_up_status" jdbcType="VARCHAR" property="videoUpStatus" />
    <result column="check_locale_kilometre" jdbcType="VARCHAR" property="checkLocaleKilometre" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.data.big.model.SnowAlarm">
    <result column="data" jdbcType="LONGVARCHAR" property="data" />
  </resultMap>
  <sql id="Base_Column_List">
    id, control_unit_code, check_locale_code, snow_deep, snow_deep_benchmark, snow_deep_actual_check, 
    speed_limit, speed_limit_section_number, speed_limit_section_begin, speed_limit_section_end, 
    data_length, Influence_interval, branch_line_code, reserve1, reserve2, alarm_level, 
    `date`, alarm_status, relieve_time, video_up_status, check_locale_kilometre
  </sql>
  <sql id="Blob_Column_List">
    `data`
  </sql>
  <select id="selectByPrimaryId" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from snow_alarm
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <insert id="insert" parameterType="com.data.big.model.SnowAlarm">
    insert into snow_alarm (id, control_unit_code, check_locale_code, 
      snow_deep, snow_deep_benchmark, snow_deep_actual_check, 
      speed_limit, speed_limit_section_number, speed_limit_section_begin, 
      speed_limit_section_end, data_length, Influence_interval, 
      branch_line_code, reserve1, reserve2, 
      alarm_level, `date`, alarm_status, 
      relieve_time, video_up_status, check_locale_kilometre, 
      `data`)
    values (#{id,jdbcType=VARCHAR}, #{controlUnitCode,jdbcType=VARCHAR}, #{checkLocaleCode,jdbcType=VARCHAR}, 
      #{snowDeep,jdbcType=VARCHAR}, #{snowDeepBenchmark,jdbcType=VARCHAR}, #{snowDeepActualCheck,jdbcType=VARCHAR}, 
      #{speedLimit,jdbcType=VARCHAR}, #{speedLimitSectionNumber,jdbcType=VARCHAR}, #{speedLimitSectionBegin,jdbcType=VARCHAR}, 
      #{speedLimitSectionEnd,jdbcType=VARCHAR}, #{dataLength,jdbcType=VARCHAR}, #{influenceInterval,jdbcType=VARCHAR}, 
      #{branchLineCode,jdbcType=VARCHAR}, #{reserve1,jdbcType=VARCHAR}, #{reserve2,jdbcType=VARCHAR}, 
      #{alarmLevel,jdbcType=VARCHAR}, #{date,jdbcType=TIMESTAMP}, #{alarmStatus,jdbcType=VARCHAR}, 
      #{relieveTime,jdbcType=TIMESTAMP}, #{videoUpStatus,jdbcType=VARCHAR}, #{checkLocaleKilometre,jdbcType=VARCHAR}, 
      #{data,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.data.big.model.SnowAlarm">
    insert into snow_alarm
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="controlUnitCode != null">
        control_unit_code,
      </if>
      <if test="checkLocaleCode != null">
        check_locale_code,
      </if>
      <if test="snowDeep != null">
        snow_deep,
      </if>
      <if test="snowDeepBenchmark != null">
        snow_deep_benchmark,
      </if>
      <if test="snowDeepActualCheck != null">
        snow_deep_actual_check,
      </if>
      <if test="speedLimit != null">
        speed_limit,
      </if>
      <if test="speedLimitSectionNumber != null">
        speed_limit_section_number,
      </if>
      <if test="speedLimitSectionBegin != null">
        speed_limit_section_begin,
      </if>
      <if test="speedLimitSectionEnd != null">
        speed_limit_section_end,
      </if>
      <if test="dataLength != null">
        data_length,
      </if>
      <if test="influenceInterval != null">
        Influence_interval,
      </if>
      <if test="branchLineCode != null">
        branch_line_code,
      </if>
      <if test="reserve1 != null">
        reserve1,
      </if>
      <if test="reserve2 != null">
        reserve2,
      </if>
      <if test="alarmLevel != null">
        alarm_level,
      </if>
      <if test="date != null">
        `date`,
      </if>
      <if test="alarmStatus != null">
        alarm_status,
      </if>
      <if test="relieveTime != null">
        relieve_time,
      </if>
      <if test="videoUpStatus != null">
        video_up_status,
      </if>
      <if test="checkLocaleKilometre != null">
        check_locale_kilometre,
      </if>
      <if test="data != null">
        `data`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="controlUnitCode != null">
        #{controlUnitCode,jdbcType=VARCHAR},
      </if>
      <if test="checkLocaleCode != null">
        #{checkLocaleCode,jdbcType=VARCHAR},
      </if>
      <if test="snowDeep != null">
        #{snowDeep,jdbcType=VARCHAR},
      </if>
      <if test="snowDeepBenchmark != null">
        #{snowDeepBenchmark,jdbcType=VARCHAR},
      </if>
      <if test="snowDeepActualCheck != null">
        #{snowDeepActualCheck,jdbcType=VARCHAR},
      </if>
      <if test="speedLimit != null">
        #{speedLimit,jdbcType=VARCHAR},
      </if>
      <if test="speedLimitSectionNumber != null">
        #{speedLimitSectionNumber,jdbcType=VARCHAR},
      </if>
      <if test="speedLimitSectionBegin != null">
        #{speedLimitSectionBegin,jdbcType=VARCHAR},
      </if>
      <if test="speedLimitSectionEnd != null">
        #{speedLimitSectionEnd,jdbcType=VARCHAR},
      </if>
      <if test="dataLength != null">
        #{dataLength,jdbcType=VARCHAR},
      </if>
      <if test="influenceInterval != null">
        #{influenceInterval,jdbcType=VARCHAR},
      </if>
      <if test="branchLineCode != null">
        #{branchLineCode,jdbcType=VARCHAR},
      </if>
      <if test="reserve1 != null">
        #{reserve1,jdbcType=VARCHAR},
      </if>
      <if test="reserve2 != null">
        #{reserve2,jdbcType=VARCHAR},
      </if>
      <if test="alarmLevel != null">
        #{alarmLevel,jdbcType=VARCHAR},
      </if>
      <if test="date != null">
        #{date,jdbcType=TIMESTAMP},
      </if>
      <if test="alarmStatus != null">
        #{alarmStatus,jdbcType=VARCHAR},
      </if>
      <if test="relieveTime != null">
        #{relieveTime,jdbcType=TIMESTAMP},
      </if>
      <if test="videoUpStatus != null">
        #{videoUpStatus,jdbcType=VARCHAR},
      </if>
      <if test="checkLocaleKilometre != null">
        #{checkLocaleKilometre,jdbcType=VARCHAR},
      </if>
      <if test="data != null">
        #{data,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>

</mapper>