<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.data.big.mapper.TrainloactionMapper">
  <resultMap id="BaseResultMap" type="com.data.big.model.Trainloaction">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="trainid" jdbcType="VARCHAR" property="trainid" />
    <result column="trainname" jdbcType="VARCHAR" property="trainname" />
    <result column="ipclocationid" jdbcType="VARCHAR" property="ipclocationid" />
  </resultMap>
  <sql id="Base_Column_List">
    id, trainid, trainname, ipclocationid
  </sql>
  <select id="selectByPrimaryId" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from trainloaction
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <insert id="insert" parameterType="com.data.big.model.Trainloaction">
    insert into trainloaction (id, trainid, trainname, 
      ipclocationid)
    values (#{id,jdbcType=VARCHAR}, #{trainid,jdbcType=VARCHAR}, #{trainname,jdbcType=VARCHAR}, 
      #{ipclocationid,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.data.big.model.Trainloaction">
    insert into trainloaction
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="trainid != null">
        trainid,
      </if>
      <if test="trainname != null">
        trainname,
      </if>
      <if test="ipclocationid != null">
        ipclocationid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="trainid != null">
        #{trainid,jdbcType=VARCHAR},
      </if>
      <if test="trainname != null">
        #{trainname,jdbcType=VARCHAR},
      </if>
      <if test="ipclocationid != null">
        #{ipclocationid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>