<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.data.big.mapper.WxjhMapper">
  <resultMap id="BaseResultMap" type="com.data.big.model.Wxjh">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="bzdwmc" jdbcType="VARCHAR" property="bzdwmc" />
    <result column="zylx" jdbcType="VARCHAR" property="zylx" />
    <result column="zydj" jdbcType="VARCHAR" property="zydj" />
    <result column="zyrq" jdbcType="VARCHAR" property="zyrq" />
    <result column="zysd" jdbcType="VARCHAR" property="zysd" />
    <result column="xm" jdbcType="VARCHAR" property="xm" />
    <result column="xb" jdbcType="VARCHAR" property="xb" />
    <result column="qschzm" jdbcType="VARCHAR" property="qschzm" />
    <result column="zzchzm" jdbcType="VARCHAR" property="zzchzm" />
    <result column="zyqslc" jdbcType="VARCHAR" property="zyqslc" />
    <result column="zyzzlc" jdbcType="VARCHAR" property="zyzzlc" />
    <result column="banci" jdbcType="VARCHAR" property="banci" />
    <result column="zzfhr" jdbcType="VARCHAR" property="zzfhr" />
    <result column="gdfhr" jdbcType="VARCHAR" property="gdfhr" />
    <result column="yffhr" jdbcType="VARCHAR" property="yffhr" />
    <result column="dbr" jdbcType="VARCHAR" property="dbr" />
    <result column="sbztw" jdbcType="VARCHAR" property="sbztw" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result property="fJwtdmids" jdbcType="VARCHAR" column="f_jwtdmids" />
    <result property="fJwtdmmcs" jdbcType="VARCHAR" column="f_jwtdmmcs" />
    <result property="fZhjtdmids" jdbcType="VARCHAR" column="f_zhjtdmids" />
    <result property="fZhjtdmmcs" jdbcType="VARCHAR" column="f_zhjtdmmcs" />
    <result property="fChwtdmids" jdbcType="VARCHAR" column="f_chwtdmids" />
    <result property="fChwtdmmcs" jdbcType="VARCHAR" column="f_chwtdmmcs" />
    <result property="fsbsj" jdbcType="VARCHAR" column="fsbsj" />
    <result column="CreateTime" jdbcType="TIMESTAMP" property="createtime" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.data.big.model.Wxjh">
    <result column="zyxm" jdbcType="LONGVARCHAR" property="zyxm" />
  </resultMap>
  <sql id="Base_Column_List">
    id, bzdwmc, zylx, zydj, zyrq, zysd, xm, xb, qschzm, zzchzm, zyqslc, zyzzlc, banci, 
    zzfhr, gdfhr, yffhr, dbr, sbztw, `status`,f_jwtdmids,f_jwtdmmcs,f_zhjtdmids,f_zhjtdmmcs,f_chwtdmids
    ,f_chwtdmmcs,CreateTime,fsbsj
  </sql>
  <sql id="Blob_Column_List">
    zyxm
  </sql>
  <select id="selectByPrimaryId" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from wxjh
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <insert id="insert" parameterType="com.data.big.model.Wxjh">
    replace into wxjh (id, bzdwmc, zylx,
      zydj, zyrq, zysd, xm, 
      xb, qschzm, zzchzm, 
      zyqslc, zyzzlc, banci, 
      zzfhr, gdfhr, yffhr, 
      dbr, sbztw, `status`, 
      zyxm ,f_jwtdmids,f_jwtdmmcs,f_zhjtdmids,f_zhjtdmmcs,f_chwtdmids
    ,f_chwtdmmcs,CreateTime,fsbsj)
    values (#{id,jdbcType=VARCHAR}, #{bzdwmc,jdbcType=VARCHAR}, #{zylx,jdbcType=VARCHAR}, 
      #{zydj,jdbcType=VARCHAR}, #{zyrq,jdbcType=VARCHAR}, #{zysd,jdbcType=VARCHAR}, #{xm,jdbcType=VARCHAR}, 
      #{xb,jdbcType=VARCHAR}, #{qschzm,jdbcType=VARCHAR}, #{zzchzm,jdbcType=VARCHAR}, 
      #{zyqslc,jdbcType=VARCHAR}, #{zyzzlc,jdbcType=VARCHAR}, #{banci,jdbcType=VARCHAR}, 
      #{zzfhr,jdbcType=VARCHAR}, #{gdfhr,jdbcType=VARCHAR}, #{yffhr,jdbcType=VARCHAR}, 
      #{dbr,jdbcType=VARCHAR}, #{sbztw,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, 
      #{zyxm,jdbcType=LONGVARCHAR}
      ,#{fJwtdmids,jdbcType=LONGVARCHAR},#{fJwtdmmcs,jdbcType=LONGVARCHAR},#{fZhjtdmids,jdbcType=LONGVARCHAR},
      #{fZhjtdmmcs,jdbcType=LONGVARCHAR},#{fChwtdmids,jdbcType=LONGVARCHAR},#{fChwtdmmcs,jdbcType=LONGVARCHAR}
      ,#{createtime,jdbcType=TIMESTAMP},#{fsbsj,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.data.big.model.Wxjh">
    insert into wxjh
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="bzdwmc != null">
        bzdwmc,
      </if>
      <if test="zylx != null">
        zylx,
      </if>
      <if test="zydj != null">
        zydj,
      </if>
      <if test="zyrq != null">
        zyrq,
      </if>
      <if test="zysd != null">
        zysd,
      </if>
      <if test="xm != null">
        xm,
      </if>
      <if test="xb != null">
        xb,
      </if>
      <if test="qschzm != null">
        qschzm,
      </if>
      <if test="zzchzm != null">
        zzchzm,
      </if>
      <if test="zyqslc != null">
        zyqslc,
      </if>
      <if test="zyzzlc != null">
        zyzzlc,
      </if>
      <if test="banci != null">
        banci,
      </if>
      <if test="zzfhr != null">
        zzfhr,
      </if>
      <if test="gdfhr != null">
        gdfhr,
      </if>
      <if test="yffhr != null">
        yffhr,
      </if>
      <if test="dbr != null">
        dbr,
      </if>
      <if test="sbztw != null">
        sbztw,
      </if>
      <if test="status != null">
        `status`,
      </if>
      <if test="zyxm != null">
        zyxm,
      </if>
      <if test="fJwtdmids != null">
        f_jwtdmids,
      </if>
      <if test="fJwtdmmcs != null">
        f_jwtdmmcs,
      </if>
      <if test="fZhjtdmids != null">
        f_zhjtdmids,
      </if>
      <if test="fZhjtdmmcs != null">
        f_zhjtdmmcs,
      </if>
      <if test="fChwtdmids != null">
        f_chwtdmids,
      </if>
      <if test="fChwtdmmcs != null">
        f_chwtdmmcs,
      </if>
      <if test="createtime != null">
        CreateTime,
      </if>
      <if test="fsbsj != null">
        fsbsj,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="bzdwmc != null">
        #{bzdwmc,jdbcType=VARCHAR},
      </if>
      <if test="zylx != null">
        #{zylx,jdbcType=VARCHAR},
      </if>
      <if test="zydj != null">
        #{zydj,jdbcType=VARCHAR},
      </if>
      <if test="zyrq != null">
        #{zyrq,jdbcType=VARCHAR},
      </if>
      <if test="zysd != null">
        #{zysd,jdbcType=VARCHAR},
      </if>
      <if test="xm != null">
        #{xm,jdbcType=VARCHAR},
      </if>
      <if test="xb != null">
        #{xb,jdbcType=VARCHAR},
      </if>
      <if test="qschzm != null">
        #{qschzm,jdbcType=VARCHAR},
      </if>
      <if test="zzchzm != null">
        #{zzchzm,jdbcType=VARCHAR},
      </if>
      <if test="zyqslc != null">
        #{zyqslc,jdbcType=VARCHAR},
      </if>
      <if test="zyzzlc != null">
        #{zyzzlc,jdbcType=VARCHAR},
      </if>
      <if test="banci != null">
        #{banci,jdbcType=VARCHAR},
      </if>
      <if test="zzfhr != null">
        #{zzfhr,jdbcType=VARCHAR},
      </if>
      <if test="gdfhr != null">
        #{gdfhr,jdbcType=VARCHAR},
      </if>
      <if test="yffhr != null">
        #{yffhr,jdbcType=VARCHAR},
      </if>
      <if test="dbr != null">
        #{dbr,jdbcType=VARCHAR},
      </if>
      <if test="sbztw != null">
        #{sbztw,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="zyxm != null">
        #{zyxm,jdbcType=LONGVARCHAR},
      </if>
      <if test="fJwtdmids != null">
        #{fJwtdmids,jdbcType=LONGVARCHAR},
      </if>
      <if test="fJwtdmmcs != null">
        #{fJwtdmmcs,jdbcType=LONGVARCHAR},
      </if>
      <if test="fZhjtdmids != null">
        #{fZhjtdmids,jdbcType=LONGVARCHAR},
      </if>
      <if test="fZhjtdmmcs != null">
        #{fZhjtdmmcs,jdbcType=LONGVARCHAR},
      </if>
      <if test="fChwtdmids != null">
        #{fChwtdmids,jdbcType=LONGVARCHAR},
      </if>
      <if test="fChwtdmmcs != null">
        #{fChwtdmmcs,jdbcType=LONGVARCHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="fsbsj != null">
        #{fsbsj,jdbcType=VARCHAR},
      </if>
    </trim>

  </insert>

  <update id="updateAll" parameterType="com.data.big.model.Wxjh">
    <foreach collection="list" item="wxjh" separator=";">
      update
      wxjh  set
      <trim prefix="" suffix=" " suffixOverrides=",">
          status=#{wxjh.status}
      </trim>
      where id= #{wxjh.id}
    </foreach>
  </update>


  <update id="updateChartParamByAccountAndChartid" parameterType="list">
    update
    wxjh
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="status =case" suffix="end,">
        <foreach collection="list" item="item" index="index">
          <if test="item.status!=null">
            when id=#{item.id}
            then #{item.status}
          </if>
        </foreach>
      </trim>

    </trim>
    where id in
    <foreach collection="list" item="item" index="index" separator="," open="(" close=")">
      #{item.id}
    </foreach>
  </update>


  <!-- 批量插入生成的兑换码 -->
  <insert id ="insertCodeBatch" parameterType="java.util.List" >
    insert IGNORE into wxjh (id, bzdwmc, zylx,
    zydj, zyrq, zysd, xm,
    xb, qschzm, zzchzm,
    zyqslc, zyzzlc, banci,
    zzfhr, gdfhr, yffhr,
    dbr, sbztw, `status`,
    zyxm
    ,f_jwtdmids,f_jwtdmmcs,f_zhjtdmids,f_zhjtdmmcs,f_chwtdmids
    ,f_chwtdmmcs,createtime,fsbsj)
    values
    <foreach collection ="list" item="reddemCode" index= "index" separator =",">
      (
      #{reddemCode.id}, #{reddemCode.bzdwmc},#{reddemCode.zylx},
      #{reddemCode.zydj},#{reddemCode.zyrq}, #{reddemCode.zysd},#{reddemCode.xm},
       #{reddemCode.xb}, #{reddemCode.qschzm},#{reddemCode.zzchzm},
       #{reddemCode.zyqslc},#{reddemCode.zyzzlc},#{reddemCode.banci},
      #{reddemCode.zzfhr}, #{reddemCode.gdfhr}, #{reddemCode.yffhr},
       #{reddemCode.dbr},
       #{reddemCode.sbztw},
       #{reddemCode.status},
       #{reddemCode.zyxm},
        #{reddemCode.fJwtdmids},#{reddemCode.fJwtdmmcs},#{reddemCode.fZhjtdmids},
      #{reddemCode.fZhjtdmmcs},#{reddemCode.fChwtdmids},#{reddemCode.fChwtdmmcs},
      #{reddemCode.createtime},#{reddemCode.fsbsj} )
    </foreach >
  </insert >


  <select id="findByExample" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
    select
    w.*
    from wxjh w
    <where>
      <if test="id != null">
       and w.id = #{id,jdbcType=VARCHAR}
      </if>
      <if test="bzdwmc != null">
       and w.bzdwmc  like  concat('%',#{bzdwmc,jdbcType=VARCHAR},'%')
      </if>
      <if test="zylx != null">
       and w.zylx = #{zylx,jdbcType=VARCHAR}
      </if>
      <if test="zydj != null">
        and w.zydj = #{zydj,jdbcType=VARCHAR}
      </if>
      <if test="zyrq != null">
        and w.zyrq  like  concat('%',#{zyrq,jdbcType=VARCHAR},'%')

      </if>
      <if test="zysd != null">
        and w.zysd  like  concat('%',#{zysd,jdbcType=VARCHAR},'%')
      </if>
      <if test="xm != null">
        and w.xm  like  concat('%',#{xm,jdbcType=VARCHAR},'%')
      </if>
      <if test="xb != null">
        and w.xb  like  concat('%',#{xb,jdbcType=VARCHAR},'%')
      </if>
      <if test="qschzm != null">
        and w.qschzm  like  concat('%',#{qschzm,jdbcType=VARCHAR},'%')
      </if>
      <if test="zzchzm != null">
        and w.zzchzm  like  concat('%',#{zzchzm,jdbcType=VARCHAR},'%')
      </if>
      <if test="zyqslc != null">
       and zyqslc = #{zyqslc,jdbcType=VARCHAR}
      </if>
      <if test="zyzzlc != null">
        and zyzzlc =#{zyzzlc,jdbcType=VARCHAR}
      </if>
      <if test="banci != null">
        and banci = #{banci,jdbcType=VARCHAR}
      </if>
      <if test="zzfhr != null">
        and w.zzfhr  like  concat('%',#{zzfhr,jdbcType=VARCHAR},'%')
      </if>
      <if test="gdfhr != null">
        and w.gdfhr  like  concat('%',#{gdfhr,jdbcType=VARCHAR},'%')
      </if>
      <if test="yffhr != null">
        and w.yffhr  = #{yffhr,jdbcType=VARCHAR}
      </if>
      <if test="dbr != null">
        and w.dbr  like  concat('%',#{dbr,jdbcType=VARCHAR},'%')
      </if>
      <if test="sbztw != null">
        and w.sbztw  =  #{sbztw,jdbcType=VARCHAR}
      </if>
      <if test="status != null">
        and w.status  = #{status,jdbcType=VARCHAR}
      </if>
      <if test="zyxm != null">
        and w.zyxm  like  concat('%',#{zyxm,jdbcType=VARCHAR},'%')
      </if>
      <if test="fJwtdmids != null">
        and w.fJwtdmids  =   #{fJwtdmids,jdbcType=LONGVARCHAR}
      </if>
      <if test="fJwtdmmcs != null">
        and w.fJwtdmmcs  like  concat('%',#{fJwtdmmcs,jdbcType=VARCHAR},'%')
      </if>
      <if test="fZhjtdmids != null">
        and w.fZhjtdmids  =#{fZhjtdmids,jdbcType=LONGVARCHAR}
      </if>
      <if test="fZhjtdmmcs != null">
        and w.fZhjtdmmcs  like  concat('%',#{fZhjtdmmcs,jdbcType=VARCHAR},'%')
      </if>
      <if test="fChwtdmids != null">
        and w.fChwtdmids  = #{fChwtdmids,jdbcType=LONGVARCHAR}
      </if>
      <if test="fChwtdmmcs != null">
        and w.fChwtdmmcs  like  concat('%',#{fChwtdmmcs,jdbcType=VARCHAR},'%')
      </if>
    </where>
  </select>
</mapper>